{{- if eq .chezmoi.os "darwin" }}
{{- if and (ne (lookPath "op") "") (exec "op" "whoami") }}
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
	ForwardAgent yes
{{- end }}
{{- end }}
