[tools]
# language runtimes
go = "latest" # includes gofmt and go vet
node = "latest"
python = "latest"
{{ if ne .chezmoi.os "windows" -}}
powershell = "latest"
{{ end -}}
rust = "latest" # uses rustfmt and clippy from toolchain

# formatters
biome = "latest" # formatter + linter
dprint = "latest"
ruff = "latest" # formatter + linter
shfmt = "latest"
taplo = "latest" # formatter + linter
"npm:prettier" = "latest"
"pipx:sqlfluff" = "latest" # formatter + linter
"cargo:stylua" = "latest"

# linters
golangci-lint = "latest"
hadolint = "latest"
markdownlint-cli2 = "latest"
shellcheck = "latest"
"cargo:selene" = "latest"
"pipx:yamllint" = "latest"

# other tools
uv = "latest"

[settings]
python.uv_venv_auto = "create|source"
